<%- include ('partials/header') %>

<div id="signUp-login">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Started as volunteer</h5>
                    <p class="card-text">Helping your neighbour is helping yourself too. Get started by signing up as a
                        volunteer.</p>
                    <a href="/signUp/volunteer" class="btn btn-primary">Sign Up as Volunteer</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Request for help</h5>
                    <p class="card-text">Request free meals, order your usual groceries, or ask for other help you may
                        need. A volunteer will bring your delivery
                        right to your door.</p>
                    <a href="/request" class="btn btn-primary">Request Meal or Delivery</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Exchange Goods</h5>
                    <p class="card-text">Exchange the things which you have in spare with some other stuff which helps
                        other members of community</p>
                    <a href="/barter" class="btn btn-primary">Exchange Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="goal">
    <h1 style="text-align: center;">What is our Goal</h1>
    <div id="goal-image">
        <div id="goal-text">
            <h3>
                Our goal is to prevent the spreading of the Virus locally is to empower the citizens with the right
                information and taking
                precautions as per the advisories being issued by Ministry of Health & Family Welfare.
            </h3>
        </div>
    </div>
</div>



<%- include ('partials/footer') %>